.role-selection{
    margin-right: 130px;
 
}

.role{
    margin-left:5px ;
}

.input-icon{
    margin-left: 70px;
}

.sign h4{
    margin-left: 100px;
}

.login-with-google-btn{
    margin-left: 100px;
}

h6{
    margin-left: 50px;
}

.icon-input .input-icon{
    margin-left: 110px;
}


.role-selection .role{
    width: 315px;
    margin-left: 45px;
}

.Form h3{
    margin-left: 50px;
}