.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 2; /* Set a higher z-index value for the sidebar */
}

.container {
    font-family: Arial, sans-serif;
    margin-left: 250px;
    width: 100%;
    padding: 10px;
    position: relative; /* Add relative positioning for stacking context */
    z-index: 1; /* Set a lower z-index value for the container */
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1; /* Set a lower z-index value for the header */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1); /* Add bottom shadow */
}

.headers h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.icons {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
}

.notifs,
.notif {
    width: 30px;
    height: 30px;
    margin-left: 550px;
    cursor: pointer;
    justify-content: flex-end;
}

.account-img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: 1px gray solid;
    border-radius: 50px;
}

.account-name {
    background-color: #307A59;
    width: 115px;
    height: 33px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-left: -25px;
    position: relative;
    z-index: 1;
}

.account-name h1 {
    margin: 0; 
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.screen {
    margin-top: 80px;
    margin-bottom: 20px;
}

html, body {
  overflow-x: hidden;
}

h1 {
    font-size: 20px;
    margin-left: 70px;
}

/* Style for the search input container */
.searches,
.search-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 0; 
    margin-left: 60px;
}

.search-containers {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 0; 
    margin-left: 60px;
}

/* Style for the search icon */
.search-iconss {
    position: absolute;
    top: 45%;
    left: 20px; /* Adjust the left position as needed */
    transform: translateY(-70%);
    color: black; /* Icon color */
  }

/* Style for the search icon */
.search-icons {
  position: absolute;
  top: 50%;
  left: 20px; /* Adjust the left position as needed */
  transform: translateY(-70%);
  color: black; /* Icon color */
}

/* Add CSS styles for the search input */
.search-input {
    padding: 8px 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid #1f1f1f;
    border-radius: 25px;
    height: max-content;
    max-width: 300px; /* Adjust the width as needed */
    font-size: 14px;
    outline: none;
    margin-left: 80px;
}

.custom-table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 70px;
    font-size: 13px;
}

th,
td {
    padding: 10px;
    text-align: left;
    
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 15;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 70px;
    background-color: #1e7566;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}

.btn:hover {
    background-color: #3fc589;
    color: #1a1a1a;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 65px;
    margin-bottom: 30px;
}

.request-item {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    border: 1px rgba(0, 0, 0, 0.336) solid;
    position: relative;
}

/* Close button styles */
.request-item .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.title {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h6 {
    margin: 0;
    font-size: 30px;
}

h3 {
    margin-top: 10px;
}

h2 {
    margin-left: 65px;
    margin-top: 5px;
}

.section {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-size: 14px;
    font-weight: light;
    margin-bottom: 7px;
}

.placeholder {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.proof {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

.proof img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 5px;
}

.view-btn {
    background-color: #1e7566;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 25px;
}

.view-btn:hover {
    background-color: #3fc589;
    color: #1a1a1a;
}

.categories-container {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.categories1,
.categories2,
.categories3,
.categories4,
.categories5:hover {
    background-color: rgb((51, 164, 102) 185, 106);/* Change the background color on hover as needed */
}

.categories1,
.categories2,
.categories3,
.categories4,
.categories5 {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  background-color: #1e7566;
  padding: 10px;
  border: 0 transparent;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  margin-inline: 7px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categories1 h5,
.categories2 h5,
.categories3 h5,
.categories4 h5,
.categories5 h5 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

/* Filter container styles */
.filter-container {
    display: flex;
    margin-inline: 30px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 60px;
}

.filter {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 120px;
    font-size: 14px;
    
}

label {
    font-size: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-4 {
  margin: 10px; /* Adjust as needed */
}

/* Optional: Adjust the width based on your design */
.col-4 {
  width: calc(50% - 20px); /* 50% width with margin on both sides */
}

.monthly-chart,
.reports ,
.analytics,
.yearly-barangay-chart {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 600;
}

.container h1 {
    margin-left: 60px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.parts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 90px;
    margin-left: 90px;
}

.directions h1 {
    font-size: 18px;
    font-weight: 500;
}

.report,
.analytics {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  /* Add more specific styles as needed */
  .day,
  .week,
  .month,
  .year {
    width: 200px; /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
  }

.reports h6 {
    font-size: 15px;
    font-weight: 500;
    width: 70px;
    height: 50px;
    border: 3px #FFA0A0 solid;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

.line-graph {
    flex-direction: column;
    margin-left: 80px;
    margin-top: 120px;
}

.date {
    flex-direction: row ;
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-bottom: 30px;
}