.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.container {
    font-family: Arial, sans-serif;
    margin-left: 200px;
    width: 100%;
    padding: 10px;
    position: relative; /* Add relative positioning for stacking context */
    z-index: 1; /* Set a lower z-index value for the container */
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1; /* Set a lower z-index value for the header */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1); /* Add bottom shadow */
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.icons {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
}

.notifs {
    width: 30px;
    height: 30px;
    margin-left: 680px;
    cursor: pointer;
}

.account-img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: 1px gray solid;
    border-radius: 50px;
}

.account-name {
    background-color: #307A59;
    width: 115px;
    height: 33px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-left: -25px;
    position: relative;
    z-index: 1;
}

.account-name h1 {
    margin: 0; 
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

h1 {
    font-size: 24px;
    margin-left: 80px;
    margin-top: 15px;
}

/* Style for the search input container */
.search-container {
    position: relative;
    display: flex;
    margin-bottom: 0;
}

/* Style for the search icon */
.search-icon {
  position: absolute;
  top: 45%;
  left: 80px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  color: black; /* Icon color */
}

/* Add CSS styles for the search input */
.search-input {
    padding: 8px 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid #1f1f1f;
    border-radius: 25px;
    width: 100%;
    height: 25px;
    max-width: 300px; /* Adjust the width as needed */
    font-size: 14px;
    outline: none;
    margin-left: 70px;
}

.custom-tbl {
    width: 70%;
    border-collapse: collapse;
    padding: 10px;
}

/*table*/
td {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn {
    margin-bottom: 20px;
    margin-left: 70px;
    background-color: #1e7566;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}

.btn:hover {
    background-color: #3fc589;
    color: #1a1a1a;
}