.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.container {
    font-family: Arial, sans-serif;
    margin-left: 200px;
    width: 1000px;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin-left: 80px;
    margin-top: 15px;
}

/* Style for the search input container */
.search-container {
    position: relative;
    display: flex;
    margin-bottom: 0;
}

/* Style for the search icon */
.search-icon {
  position: absolute;
  top: 45%;
  left: 80px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  color: black; /* Icon color */
}

/* Add CSS styles for the search input */
.search-input {
    padding: 8px 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid #1f1f1f;
    border-radius: 25px;
    width: 100%;
    height: 25px;
    max-width: 300px; /* Adjust the width as needed */
    font-size: 14px;
    outline: none;
    margin-left: 70px;
}

.custom-table {
    width: 90%;
    border-collapse: collapse;
    padding: 10px;
}

/*table*/
td {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn {
    margin-bottom: 20px;
    margin-left: 70px;
    background-color: #1e7566;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}

.btn:hover {
    background-color: #3fc589;
    color: #1a1a1a;
}